@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&family=Lexend:wght@100..900&display=swap');




body {
    font-family: "Lexend", sans-serif;
}


.fira-font {
    font-family: "Fira Sans", sans-serif;
}